* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  background: var(--bg-main);
  color: var(--text-main);
}

a {
  color: inherit;
  text-decoration: none;
}
